html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Libre Franklin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-height: 100vh;
  padding-bottom: 80px;
}

/* body div#root {
  position: relative;
} */

/* .page-wrapper {
  margin: 10px auto;
} */

.flex {
  display: flex;
}

.justify-around {
  justify-content: space-around;
}